<html>
<title>Login Page</title>
<style type="text/css">
	#rb {
    border-radius: 15px 50px;
    background: green;
    padding: 10px;
    color: white;
    border:none;
} 
</style>
	<% if flash[:alert]==="Succesfully logged out" %>
	<p style="color:green"><%= flash[:alert]%></p>
	<% else %>
	<p style="color:red"><%= flash[:alert]%></p>
	<% end %>
	<h1 style="color:green;font-size:30px;"><center>Login Here</center></h1><br><br><br>
	<%= form_tag do %>
		<table class="login_form" style="margin:auto;">
			<tr>
				<td style="color:green;font-size:25px;"><%= label_tag :name,"Name: "%></td>
				<td class="input_field"><%= text_field_tag :name, params[:name]%></td>
			</tr>
			<tr>
				<td style="color:green;font-size:25px;"><%= label_tag :password,"Password: "%></td>
				<td class="input_field"><%= password_field_tag :password, params[:password]%></td>
			</tr>
		</table>
		<br>
		<br>
		<center>
		<button type="submit" id="rb" onclick="this.form.submit()" style="font-size:20px;">LOGIN</button>
		<div style="color:green;font-size:20px;">
		<br>
		<br>
			<%= link_to 'Register Now', "users/new",style: "color:green;text-decoration:none;background-color:white;" %>
		</div>
		</center>
	<% end %>
</html>