<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @mcq.question %>
</p>

<p>
  <strong>Opta:</strong>
  <%= @mcq.optA %>
</p>

<p>
  <strong>Optb:</strong>
  <%= @mcq.optB %>
</p>

<p>
  <strong>Optc:</strong>
  <%= @mcq.optC %>
</p>

<p>
  <strong>Optd:</strong>
  <%= @mcq.optD %>
</p>

<p>
  <strong>Corropt:</strong>
  <%= @mcq.corrOpt %>
</p>

<p>
  <strong>Subgen:</strong>
  <%= @mcq.subgen %>
</p>

<p>
  <strong>Gen:</strong>
  <%= @mcq.gen %>
</p>

<%= link_to 'Edit', edit_mcq_path(@mcq) %> |
<%= link_to 'Back', mcqs_path %>
