<%= link_to "Back to Home", userpg_index_path %>
<% if $cur_qid=="NQ" %>
<h1>Questions coming soon</h1>
<br>
<br>
<%else%>
<div>
<% if $truth==1 and $chng==1 %>
<p style="font-size:18;color:green">Correct</p>
<% end %>
<% if $truth==0 and $chng==1 %>
<p style="font-size:18;color:red">Incorrect</p>
<% end %>
</div>
<% if $cur_qid=="END" %>
<h1>You completed all the questions</h1>
<h1>Final score <%= $score %></h1>
<br>
<br>
<% else %>
<% $chng=0 %>
<h1>Score:<%= $score %></h1>
<h1>Question: <%= $ques %></h1>
<br>
<h1>Options:</h1>
<br>
<br>
<form action="/questionview/next" method="get" id="ans">
<%if $crt.length==1 %>
<input type="radio" name="sel_opt" value="A"><span style="font-size:18px"><%=$a%></span><br><br>
<input type="radio" name="sel_opt" value="B"><span style="font-size:18px"><%=$b%></span><br><br>
<input type="radio" name="sel_opt" value="C"><span style="font-size:18px"><%=$c%></span><br><br>
<input type="radio" name="sel_opt" value="D"><span style="font-size:18px"><%=$d%></span><br><br>
<%else%>
<input type="checkbox" class="sel_opts" value="A" onclick="foo()"><span style="font-size:18px"><%=$a%></span><br><br>
<input type="checkbox" class="sel_opts" value="B" onclick="foo()"><span style="font-size:18px"><%=$b%></span><br><br>
<input type="checkbox" class="sel_opts" value="C" onclick="foo()"><span style="font-size:18px"><%=$c%></span><br><br>
<input type="checkbox" class="sel_opts" value="D" onclick="foo()"><span style="font-size:18px"><%=$d%></span><br><br>
<input type="hidden" name="sel_opt" id="sel_opt" value="">
<%end%>
<input type="hidden" name="gen" value=<%=$cur_gen%> />
<input type="hidden" name="subgen" value=<%=$cur_subgen%> />
<br>
<button type="submit" onclick="this.form.submit()">SUBMIT</button>
</form>
<%end%>
<%end %>
<script type="text/javascript">
function foo()
{
	var ans=""
    var a=document.getElementsByClassName('sel_opts');
    for(i=0;i<a.length;i++)
    {
      if(a[i].checked)
      {
        ans+=a[i].value;
      }
    }
    document.getElementById('sel_opt').value=ans;
}
</script>