<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @state.userid %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @state.genre %>
</p>

<p>
  <strong>Subgenre:</strong>
  <%= @state.subgenre %>
</p>

<p>
  <strong>Qsnid:</strong>
  <%= @state.qsnid %>
</p>

<p>
  <strong>Score:</strong>
  <%= @state.score %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
