<p id="notice"><%= notice %></p>

<p>
  <strong>Subgen:</strong>
  <%= @sub_genre.subgen %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @sub_genre.gen %>
</p>

<%= link_to 'Edit', edit_sub_genre_path(@sub_genre) %> |
<%= link_to 'Back', admin_url %>
