<style type="text/css">
  #rb {
    border-radius: 15px 50px;
    background: green;
    padding: 10px;
    color: white;
    border:none;
} 
</style>

<%= form_with(model: genre, local: true) do |form| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
  <div class="field">
    <%= form.label :name ,style:"font-size:25px;color:green;"%>
    <br>
    <%= form.text_field :name, id: :genre_name %>
  </div>
<br>
<br>
  <div class="actions">
    <button type="submit" id="rb" onclick="this.form.submit()" style="font-size:20px;">CREATE</button>
  </div>
  </center>
<% end %>
