<p id="notice"><%= notice %></p>

<h1>Sub Genres</h1>

<table>
  <thead>
    <tr>
      <th>Subgen</th>
      <th>Gen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_genres.each do |sub_genre| %>
      <tr>
        <td><%= sub_genre.subgen %></td>
        <td><%= sub_genre.gen %></td>
        <td><%= link_to 'Show', sub_genre %></td>
        <td><%= link_to 'Edit', edit_sub_genre_path(sub_genre) %></td>
        <td><%= link_to 'Destroy', sub_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Genre', new_sub_genre_path %>
<%= link_to 'Back to homepage', admin_url %>